.todo-container {
    background: rgb(255 255 255);
    width: 50vw;
    margin: 10em auto;
    border-radius: 15px;
    padding: 20px 10px;
    color: black;
    /* border: 3px solid rgb(239 239 239); */
    box-shadow: 5px 5px 11px #999292ad;
}
@media only screen and (max-width: 700px) {
    .todo-container {
        width: 70vw;
    }
}
@media only screen and (max-width: 450px) {
    .todo-container {
        width: 95vw;
    }
}

.task {
    border-radius: 5px;
    margin: 0.5em;
    border: solid 2px #dbdbdba6;
    padding: 10px;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.task button {
    background: rgb(12, 124, 251);
    border-radius: 15px;
    margin: 0px 5px;
    border: none;
    padding: 0.7em;
    cursor: pointer;
    color: white;
    float: right;
}

.header {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
}

.formInput {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
}
.formInput button {
    white-space: nowrap;
    display: flex;
    background: rgb(12, 124, 251);
    border-radius: 5px;
    padding: 0.9em;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    color: white;
    width: max-content;
}
.create-task input[type="text"] {
    width: 80%;
    outline: none;
    border: none;
    padding: 0.9em;
    border-radius: 5px;
    border: solid 2px #dbdbdba6;
}
